<%- include('../partials/header') %>
<main>
  <h1><%= title %></h1>

  <form id="new-form" action="/meetings" method="POST">
    <label
      >Date:
      <input type="datetime-local" name="meetingDate" value="<%= mtgDate %>" />
    </label>
    <br />
    <br />
    <label>Agency:</label>
    <select name="agency">
      <option value="Saatchi">Saatchi</option>
      <option value="Team One">Team One</option>
      <option value="Horizon">Horizon</option>
      <option value="Zenith">Zenith</option>
      <option value="RPA">RPA</option>
      <option value="Starcom">Starcom</option>
      <option value="GP Generate">GP Generate</option>
      <option value="Other">Other</option>
    </select>
    <br />
    <br />
    <label>Reps Met:</label>
    <input type="text" name="repsMet" />
    <br />
    <br />
    <label>Stage:</label>
    <select name="stage">
      <option value="0%">0%</option>
      <option value="10%">10%</option>
      <option value="30%">30%</option>
      <option value="50%">50%</option>
      <option value="70%">70%</option>
      <option value="90%">90%</option>
      <option value="100%">100%</option>
    </select>
    <br />
    <br />
    <input type="submit" value="Submit" />
  </form>
</main>
<%- include('../partials/footer') %>
