<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Meeting Tracker</title>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav-links">
          <li class="links"><a href="/meetings">All Meetings</a></li>
          <li class="links"><a href="/meetings/new">Add Meeting</a></li>
        </ul>
      </nav>
      <% if (user) { %>
      <a class="log" href="/logout"
        ><button class="log-button">Log Out</button></a
      >

      <% } else { %>
      <a class="log" href="/auth/google"
        ><button class="log-button">Log in with Google</button></a
      >
      <% } %>
    </header>
  </body>
</html>
