<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <a href="/">Homepage</a>
    <a href="/meetings">Meetings</a>
    <a href="/meetings/new">Add A Meeting</a>
  </head>
</html>
