<%- include('./partials/header') %>

<h1 class="greeting">Welcome to Meeting Tracker!</h1>
<br />
<br />
<h3 class="greeting">
  Please log in with your Google account to continue to your meetings.
</h3>

<%- include('./partials/footer') %>
