body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(34, 66, 65);
  color: white;
}

a {
  color: rgb(179, 100, 100);
}

#moreInfo {
  padding-right: 50px;
}

#meetingDate {
  padding-right: 140px;
}

#agency {
  padding-right: 50px;
}

#repsMet {
  padding-right: 50px;
}

#stage {
  padding-right: 50px;
}

#editMeeting {
  padding-right: 50px;
}

#deleteMeeting {
  padding-right: 50px;
}

#one,
#two,
#three,
#four {
  font-size: 16px;
  font-weight: bold;
}

.right {
  list-style-type: none;
}

#removeNote {
  padding-right: 50px;
}
